.social-group {
  display: flex;
  align-items: center;

  .social-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text);
    margin-right: 0.5rem;
    cursor: pointer;

    &:hover {
      color: var(--primary) !important;
    }
  }
}