.card-cta {
  --card-bg: var(--light);
  --card-b: none;
  --card-bs: transparent;
  --card-body-p: 3rem 2rem;
  --card-title-fs: 3rem;
  --card-title-lh: 4rem;
  --card-subtitle-c: var(--muted);
  --card-subtitle-m: 0 0 1.5rem 0;
  margin-bottom: 80px;
}
