.layout-home {
	margin-top: 60px;

	.welcome {
		margin-bottom: 120px;

		.swiper-slide {
			width: 90%;
		}

		@media (max-width: 768px) {
			margin-bottom: 30px;

			.swiper-slide {
				width: 100%;
			}
		}
	}

	.feedbacks,
	.featured-1,
	.featured-2 {
		margin-bottom: 100px;
	}
}
