.content {
  * {
    color: var(--muted);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
    color: var(--text);
  }

  h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  h2 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  h4 {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  h5 {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  h6 {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  p,
  li {
    margin-bottom: 1rem;
    color: var(--muted);
    font-size: 1.2rem;
    line-height: 2rem;
  }

  ul {
    margin-bottom: 20px;
    list-style-position: inside;
  }

  a {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  b,
  strong {
    font-weight: 600;
    color: var(--text);
  }

  i,
  em {
    font-style: italic;
    color: var(--text);
  }

  u {
    text-decoration: underline;
  }

  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--shadow-lg);
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &.dropcap {
    &::first-letter {
      font-size: 2em;
      font-weight: bold;
      margin-right: 4px;
      color: var(--primary);
    }
  }
}